@mixin l-constrained {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin l-medium {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin l-narrow {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin l-flex-row($justify: space-between)  {
  display: flex;
  justify-content: $justify;
}

@mixin l-flex-column($justify: space-between) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
}

@mixin image-container {
  position: relative;

  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  height: 100vh;

  display: flex;
  justify-content: center;
  // align-items: center;

  margin-bottom: 25px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
  }
}

@mixin no-hero-body {
  @include l-constrained;

  margin-top: 100px;
  margin-bottom: 35px;
  text-align: center;
}
