// COLORS

$darkergray: #333;
$gray: #888;
$lightergray: #eaeaea;
$red: #c13838;
$green: #3d9970;

// Z-INDEXES

$z-index-nav-links-background: -100;
$z-index-nav-links: 1000;

// MEDIA QUERIES
$nav-breakpoint: 668px;
