@import "mixins/vars";
@import "mixins/type";

.faq-header {
  @include hero-headline-bare;
  margin-bottom: 14px;
}

.faq-sub {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 45px;
  font-weight: 300;
  font-style: oblique;
}

.faq-body {
  @include no-hero-body;
}

.faq-block {
  @include body-headings;
}

.faq-item {
  margin: 0 auto 36px;
  max-width: 650px;

  &:last-child {
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
  }
}

.faq-question {
  margin: 0;
  margin-bottom: 12px;
}

.faq-answer {
  margin: 0;
  line-height: 1.75;
}

.faq-closing {
  line-height: 1.75;
  font-size: 18px;
  margin: 0 auto;
  max-width: 650px;
}
