@import "mixins/layout";
@import "mixins/type";

.home-hero-image {
  @include image-container;
  background-image: url('/assets/images/home.jpg');
  background-position: center;
  
  .count-down {
    color: white;
    font-style: oblique;
  }
  
  @media only screen and (min-width: 600px) {
    background-position: top right;
    
    .count-down  {
      font-size: 20px;
    }
  }
}

.home-hero-image__headline {
  position: relative;
  text-align: center;
}

.home-header {
  @include hero-headline;
}

.home-body {
  @include l-constrained;
  margin-bottom: 25px;
  
  @media only screen and (min-width: 600px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.home-body__left,
.home-body__right {
  flex: 1;
}
