@import "mixins/layout";
@import "mixins/type";

.home-hero-image {
  @include image-container;

  padding: 25px 15px;
  margin-bottom: 0;
  background-image: url('/assets/images/tunnel.gif');
  background-position: center;

  &:before {
    background-color: rgba(0, 0, 0, 0.25);
  }

  .count-down {
    color: white;
    font-style: oblique;
  }

  @media only screen and (min-width: 600px) {
    .count-down  {
      font-size: 20px;
    }
  }
}

.home-hero-image__headline {
  position: relative;
  text-align: center;
}

.home-header {
  @include hero-headline;
}

.home-banner {
  position: relative;
  padding: 0 20px;

  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:before {
    content: '';
    z-index: 0;

    background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0), black 90%);
    width: 100%;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
  }
}

.home-message {
  position: relative;
  text-align: center;

  color: white;
  font-weight: 300;
  font-family: 'Open Sans';
  font-size: 25px;

  margin: 0;
}

.home-body {

  @media only screen and (min-width: 600px) {
    display: flex;
    justify-content: space-between;
  }
}


.home-body__left,
.home-body__right {
  flex: 1;
}

.home-body__right {
  padding: 0 15px;
  text-align: center;
}

.home-details {
  padding-top: 50px;
  margin-bottom: 25px;

  address {
    font-style: normal;
  }
}
