@import "mixins/vars";
@import "mixins/layout";
@import "mixins/lists";

.nav-links {
  @include l-constrained;
  position: fixed;
  top: 25px;
  left: 0;
  right: 0;
  
  z-index: $z-index-nav-links;
}

.nav-list {
  @include list-base;
  @include l-flex-row;
  flex-wrap: wrap;
  
  > li {
    flex-basis: 40%;
    margin-bottom: 3px;
    
    @media only screen and (min-width: 600px) {
      flex-basis: auto;
      margin-bottom: 0;
    }
  }
}

.nav-link {
  text-decoration: none;
  color: white;
}
