@import "mixins/layout";

.home-hero-image {
  @include image-container;
  background-image: url('/assets/images/home.jpg');
  margin-bottom: 25px;
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
  }
  
  .count-down {
    color: white;
    font-style: oblique;
    font-size: 18px;
  }
}

.home-hero-image__headline {
  position: relative;
  
  text-align: center;
  max-width: 500px;
  
  margin-left: 0;
  transition: margin-left 125ms ease;
  
  @media only screen and (min-width: 800px) {
    margin-left: -240px;
  }
  
  @media only screen and (min-width: 1000px) {
    margin-left: -500px;
  }
}

.home-header {
  font-size: 28px;
  color: white;
  margin-bottom: 15px;
  
  transition: font-size 125ms ease;
  
  @media only screen and (min-width: 600px) {
    font-size: 48px;
  }
}

.home-body {
  @include l-constrained;
  margin-bottom: 25px;
  
  @media only screen and (min-width: 600px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.home-body__right {
  flex: 1;
}
