@import "mixins/type";

.rsvp-header {
  @include hero-headline-bare;
}

.rsvp-body {
  padding-top: 90px;
  
  margin: 0;
  max-width: none;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  @media only screen and (min-width: $nav-breakpoint) {
    padding-top: 140px;
  }

  @media only screen and (min-width: 800px) {
    padding-top: 66px;
    min-height: 100vh;
  }
}
