@import "mixins/type";

.rsvp-header {
  @include hero-headline-bare;
}

.rsvp-body {
  padding-top: 66px;
  min-height: 100vh;
  margin: 0;
  max-width: none;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}
