@import "mixins/vars";
@import "mixins/forms";

.rsvp-switchbutton {
  @include link-like-button;
}

.rsvp-form {
  @include form-base;
}

.rsvp-label,
.rsvp-label--radio {
  display: block;
}

.rsvp-label {
  margin-bottom: 10px;
}

.rsvp-label--radio {
  margin-bottom: 15px;
}

.rsvp-fieldset {
  @include fieldset-base;
}

.rsvp-input,
.rsvp-textarea {
  @include input-base;
  @include input-error-states;
}

.rsvp-input {
}

.rsvp-textarea {
}

.rsvp-submit {
  @include block-btn;
}

.status-errors,
.rsvp-errors {
  margin-bottom: 25px;
  color: $red;
  
  > li {
    margin-bottom: 5px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.rsvp-errors--submit {
  @include l-medium;
}

.rsvp-error-message {
  @include l-narrow;
}
  
.rsvp-error-message,
.rsvp-errors--submit {
  > p {
    @include error-display;
  }
}

.rsvp-emergency-button {
  @include block-btn;
  text-decoration: none;
  padding: 8px;
  margin: 0 3px;
}
