@import "mixins/layout";
@import "mixins/type";

.where-hero-image {
  @include image-container;
  background-image: url('/assets/images/where-to-stay.jpg');
  background-position: center;
  
  @media only screen and (min-width: 600px) {
    background-position: top right;
  }
  
  &:before {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.where-hero-image__headline {
  position: relative;
}

.where-header {
  @include hero-headline;
}

.where-body {
  @include l-constrained;
  text-align: center;
  
  > h2 {
    font-size: 24px;
    margin-bottom: 15px;
    
    @media only screen and (min-width: 600px) {
      font-size: 34px;
    }
  }
  
  > h3 {
    font-size: 20px;
    margin-bottom: 8px;
    
    @media only screen and (min-width: 600px) {
      font-size: 24px;
    }
  }
  
  > iframe {
    margin-bottom: 35px;
  }
}

.where-item {
  margin-top: 0;
  margin-bottom: 18px;
}

.where-push {
  margin-bottom: 35px;
}

.where-booknow {
  display: block;
  text-decoration: none;
  margin: 0 auto 35px;
  padding: 20px;
  border: 1px solid #333;
  max-width: 200px;
  color: $darkergray;
  text-transform: uppercase;
  
  transition: background-color 125ms ease, color 125ms ease;
  
  &:hover {
    background-color: #eaeaea;
  }
}

.call-where {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 35px;
  
  > a {
    color: $darkergray;
    text-decoration: none;
    border-bottom: 1px solid $darkergray;
    
    transition: border-bottom-color 125ms ease;
    
    &:hover {
      border-bottom-color: #ccc;
    }
  }
}
