<div class="nav-links__mobile">
  <button {{action (action (mut isOpen) (not isOpen))}} class="nav-links__menu-button">{{if isOpen 'Close' 'Menu'}}</button>
</div>

<ul class="nav-list">
{{#each routes as |link|}}
  <li>
    {{link-to link.label link.route classNames="nav-link"}}
  </li>
{{/each}}
</ul>
