.guest-detail {
  display: flex;
  padding: 8px;
  transition: background-color 125ms ease;

  &:nth-child(2) {
    background-color: #f9f9f9;
  }

  &:hover {
    background-color: #f6fdfa;
  }

  &__name {
    position: relative;
    flex-basis: 25%;
  }

  &__inputs {
    flex: 1;
    display: flex;
  }
}

.guest-checkbox {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  &__label,
  input {
    cursor: pointer;
  }

  &__input {
    position: absolute;
    left: -9999px;
    text-indent: -9999px;
  }

  &__input + label:before {
    content: '';
    display: block;

    width: 18px;
    height: 18px;
    border: 1px solid $darkergray;
  }

  &__input + &__label:after {
    content: '';
    width: 6px;
    height: 10px;

    border: solid $darkergray;
    border-width: 0 2px 2px 0;

    transform: rotate(45deg) scale(0);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 2px;
    left: 0;
    margin: auto;


    opacity: 0;
    transition: opacity 125ms ease,
                transform 125ms cubic-bezier(.17,.67,.68,1.81);
  }

  &__input:checked + &__label:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }

  &__label {
    position: relative;

    cursor: pointer;
  }
}

.guest-name {

  &.is-editing {
    text-align: left;
  }

  &__input {
    font-family: 'Open Sans', sans-serif;
    display: block;
    width: 100%;
    border: 1px solid $lightergray;
    padding: 3px;
    line-height: 1;
    margin-bottom: 8px;

    transition: border-color 125ms ease;

    &:focus {
      outline: none;
      border-color: $darkergray;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
  }

  &__info {
    font-size: 12px;
    font-style: oblique;
    color: $gray;
  }
}

.checkbox-yay,
.checkbox-boo {
  animation-duration: 750ms;
  animation-fill-mode: forwards;

  svg {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -55px;
    margin: auto;
  }
}

.checkbox-yay {
  animation-name: yay;

  svg {
    width: 50px;
    height: 50px;
  }
}

.checkbox-boo {
  animation-name: boo;

  svg {
    width: 45px;
    height: 45px;
  }
}

@keyframes yay {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(-25px);
  }
}

@keyframes boo {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(15px);
  }
}
