@import "../mixins/forms";

.guest-detail {
  margin-bottom: 27px;

  @media only screen and (min-width: 800px) {
    margin-bottom: 0;
  }

  &__name {
    font-size: 18px;
    margin-bottom: 9px;

    @media only screen and (min-width: 800px) {
      margin-bottom: 14px;
    }
  }

  &__inputs {
    border: 1px solid $darkergray;
    padding: 18px;
  }
}

.guest-checkbox {
  position: relative;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  &__label,
  input {
    cursor: pointer;
  }

  &__input {
    position: absolute;
    left: -9999px;
    text-indent: -9999px;
  }

  &__input + label:before {
    content: '';
    display: block;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 20px;
    height: 20px;
    border: 1px solid $darkergray;
  }

  &__input + &__label:after {
    content: '';
    width: 6px;
    height: 10px;

    border: solid $darkergray;
    border-width: 0 2px 2px 0;

    transform: rotate(45deg) scale(0);

    position: absolute;
    top: 0;
    right: 7px;
    bottom: 2px;
    margin: auto;


    opacity: 0;
    transition: opacity 125ms ease,
                transform 125ms cubic-bezier(.17,.67,.68,1.81);
  }

  &__input:checked + &__label:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }

  &__label {
    display: block;
    cursor: pointer;

    text-align: right;

    padding: 8px 29px 8px 0;
  }
}

.guest-name {
  display: flex;
  justify-content: center;
  align-items: center;

  &__header {
    display: flex;
    align-items: center;
  }

  &.is-plus-one &__text {
    padding-bottom: 4px;
    border-bottom: 1px currentColor dashed;
  }

  &.is-plus-one:hover {
    cursor: pointer;
    color: $green;

    .guest-name__info {
      color: $green;
    }
  }

  &.is-plus-one.is-editing {
    text-align: left;
    justify-content: space-between;
    flex-wrap: wrap;

    @media only screen and (min-width: 600px) {
      flex-wrap: no wrap;
    }

    &:hover {
      color: $darkergray;
      cursor: default;
    }
  }

  &__input-wrapper {
    flex-basis: 100%;
    margin-bottom: 16px;

    @media only screen and (min-width: 600px) {
      flex-basis: 44%;
      margin-bottom: 0;
    }
  }

  &__label {
    display: block;
    font-size: 14px;
    color: $gray;
    margin-bottom: 8px;
    cursor: pointer;

    @media only screen and (min-width: 600px) {
      font-size: 12px;
    }
  }


  &__input {
    font-family: 'Open Sans', sans-serif;
    display: block;
    width: 100%;
    border: 1px solid $lightergray;
    padding: 6px;
    line-height: 1;

    transition: border-color 125ms ease;

    &:focus {
      outline: none;
      border-color: $darkergray;
    }

    &::placeholder {
      font-size: 14px;
      font-style: oblique;
      color: $gray;
    }

    @media only screen and (min-width: 600px) {
      padding: 3px;
    }
  }

  &__info {
    font-size: 12px;
    font-style: oblique;
    color: $gray;
    margin-left: 8px;
  }

  &__save {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;

    margin-bottom: 7px;

    @media only screen and (min-width: 600px) {
      flex-basis: auto;
      justify-content: flex-start;
    }
  }

  &__save-button {
    @include btn;
    font-size: 30px;
    transition: color 125ms ease;

    &:hover {
      color: $green;
    }
  }
}

.checkbox-yay,
.checkbox-boo {
  animation-duration: 750ms;
  animation-fill-mode: forwards;

  svg {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -55px;
    margin: auto;
  }
}

.checkbox-yay {
  animation-name: yay;

  svg {
    width: 50px;
    height: 50px;
  }
}

.checkbox-boo {
  animation-name: boo;

  svg {
    width: 45px;
    height: 45px;
  }
}

@keyframes yay {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(-25px);
  }
}

@keyframes boo {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(15px);
  }
}
