@import "../mixins/forms";

.invite-detail {
  margin: 0 25px;

  &__header{
    margin-bottom: 25px;
  }

  &__guests,
  &__plus-one {
    margin-bottom: 35px;
  }

  &__edit {
    position: absolute;
    left: -30px;
    top: 0;
    bottom: 0;
    margin: auto;

    display: flex;

    button {
      @include btn;
      display: block;

      &:hover {
        color: $green;
      }
    }
  }

  &__music {
    text-align: left;
    margin-bottom: 35px;

    &-label {
      display: block;
      margin-bottom: 16px;
    }

    &-input {
      resize: vertical;
      padding: 8px;
      width: 100%;
    }

  }

  &__submit {
    @include block-btn;


    &[disabled] {
      pointer-events: none;
      cursor: disabled;
      opacity: 0.5;
    }

    .fa-spin {
      margin-right: 5px;
    }
  }
}

.invite-header {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid $darkergray;
  font-size: 14px;

  &__name {
    flex-basis: 25%;
  }

  &__flex-col {
    flex: 1;
  }

  &__name,
  &__flex-col {
    padding: 0 3px;
  }
}
