.invite-detail {
  &__header{
    margin-bottom: 25px;
  }

  &__guests,
  &__plus-one {
    margin-bottom: 25px;
  }
}

.invite-header {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid $darkergray;

  &__name {
    flex-basis: 25%;
  }

  &__flex-col {
    flex: 1;
  }
}
