@import "../mixins/forms";

.invite-search {

  max-width: 800px;
  padding: 0 15px;

  &__header {
    margin-bottom: 32px;
    font-size: 32px;

    @media only screen and (min-width: 800px) {
      margin-bottom: 64px;
      font-size: 48px;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
  }

  &__wrapper {
    flex-basis: 100%;
    margin-bottom: 35px;
  }

  &__label {
    line-height: 1.5;
    font-size: 18px;
  }

  &__button {
    @include block-btn;

    &[disabled] {
      pointer-events: none;
      cursor: disabled;
      opacity: 0.5;
    }

    .fa-spin {
      margin-right: 5px;
    }
  }

  &__results {
    margin: 0 auto;
    padding: 0;
    list-style: none;

    max-width: 600px;
  }

  &__item {
    cursor: pointer;
    padding: 35px;
    border: 1px solid $lightergray;
    transition: border-color 125ms ease;
    line-height: 1.5;

    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      border-color: $darkergray;
    }
  }
}

.invite-search__input {
  @include input-base($margin: 0);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border-color: $darkergray;
  border-width: 0 0 1px 0;
  border-radius: 0;

  &::placeholder {
    font-size: 14px;
    font-style: oblique;
    color: rgba(0, 0, 0, 0.4);
  }
}
