@import "../mixins/forms";

.invite-detail {
  margin: 0 25px;

  &__header{
    margin-bottom: 25px;
  }

  &__guests {
    margin-bottom: 35px;

    @media only screen and (min-width: 800px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &--solo {
        justify-content: center;
      }
    }
  }

  &__guest {
    @media only screen and (min-width: 800px) {
      flex-basis: 48%;
    }
  }

  &__music {
    text-align: left;
    margin-bottom: 35px;

    &-label {
      display: block;
      margin-bottom: 16px;
    }

    &-input {
      appearance: none;
      resize: vertical;
      padding: 8px;
      width: 100%;
      border: 1px solid $darkergray;
      border-radius: 0;

      &::placeholder {
        font-style: oblique;
        color: $gray;
        font-size: 14px;
      }
    }

  }

  &__submit {
    @include block-btn;


    &[disabled] {
      pointer-events: none;
      cursor: disabled;
      opacity: 0.5;
    }

    &.has-error {
      color: $red;
      border-color: $red;
    }

    .fa-spin {
      margin-right: 5px;
    }
  }
}
