{{#pop-up as |pop|}}
  {{#pop.trigger class="brunch-info__trigger"}}more{{/pop.trigger}}

  {{#pop.body class="brunch-info__content"}}
    <p>
      Sunday brunch at 9 am on  November 11!
    </p>
    <p>
      Join us at the hotel the day after for bagels and lox and stuff.
    </p>
  {{/pop.body}}
{{/pop-up}}
