<div class="guest-detail__name">
  {{yield (hash name=(component 'guest-detail/name' guest=guest canEditName=canEditName))}}
</div>

<div class="guest-detail__inputs">
  {{yield (hash
    wedding=(component 'guest-detail/checkbox' guest=guest name='weddingRsvp')
    brunch=(component 'guest-detail/checkbox' guest=guest name='sundayBrunch')
    rehearsal=(component 'guest-detail/checkbox' guest=guest name='rehearsalRsvp')
  )}}
</div>
