<div class="directions-hero-image">
  <div class="directions-hero-image__headline">
    <h1 class="directions-header">How to Get<br />Where You're Going</h1>
  </div>
</div>

<div class="directions-body">
  <h2>Westbury Manor</h2>
  <address class="directions-item">
    1100 Jericho Turnpike<br />
    Westbury, NY 11590
  </address>
  
  <h3>By Train</h3>
  <p class="directions-item">
    Shuttle service will be available for guests from the Westbury LIRR station. It's approximately a ten minute drive from the station to Westbury Manor.
  </p>
  
  <h3>By Car</h3>
  <p class="directions-item">
    The nearest highway is the Northern State Parkway. From the East, take exit 31 (Glen Cove Rd/NY-25 N) and turn on Glen Cove Road towards Jericho Turnpike. From the West, it's exit 31A. For more precise directions, pleas use the map below.
  </p>
  
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.1479602001423!2d-73.61704764879286!3d40.758770342587894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c28798f8d03845%3A0x9fa5d5e108ccb4a9!2sWestbury+Manor!5e0!3m2!1sen!2sus!4v1507575149575" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
