{{set-body-class "directions"}}

<div class="directions-hero-image">
  <div class="directions-hero-image__headline">
    <h1 class="directions-header">How to Get<br />Where You're Going</h1>
  </div>
</div>

<div class="directions-body">
  <h2>Westbury Manor</h2>
  <address class="directions-item">
    1100 Jericho Turnpike<br />
    Westbury, NY 11590
  </address>

  <h3>By Train</h3>
  <p class="directions-item">
    Take the LIRR to Carle Place; it's about 1.7 miles from Westbury Manor or a 5&nbsp;minute&nbsp;drive.
  </p>

  <p class="directions-item">
    A train is scheduled to arrive at Carle Place at <time datetime="2018-11-10T18:37-05:00"><strong>6:37 pm</strong> on November 10</time>. It departs Penn Station at <time datetime="2018-11-10T17:55-05:00"><strong>5:55 pm</strong></time>, or you can depart Atlantic Terminal in Brooklyn at <time datetime="2018-11-10T17:34-05:00"><strong>5:43 pm</strong></time>, transferring at Jamaica at <time datetime="2018-11-10T18:20-05:00">6:20 pm</time>.
  </p>

  <p class="directions-item">
    From the Carle Place station, call Seasons taxi at <a href="tel:+15163333131">(516) 333-3131</a>. It should be $10. Or use Uber/Lyft/app of your choice.
  </p>

  <h3>By Car</h3>
  <p class="directions-item">
    The nearest highway is the Northern State Parkway. From the East, take exit 31 (Glen Cove Rd/NY-25 N) and turn on Glen Cove Road towards Jericho Turnpike. From the West, it's exit 31A. For more precise directions, please use the map below.
  </p>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.1479602001423!2d-73.61704764879286!3d40.758770342587894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c28798f8d03845%3A0x9fa5d5e108ccb4a9!2sWestbury+Manor!5e0!3m2!1sen!2sus!4v1507575149575" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
