{{set-body-class "home"}}

<div class="home-hero-image">
  <div class="home-hero-image__headline">
    <h1 class="home-header">We did it!</h1>
    <p class="home-message">Thank you to everyone who attended <3</p>
  </div>
</div>