<div class="home-hero-image">
  <h1 class="home-header">Melissa and Brian<br />Are Getting Married</h1>
</div>

<div class="home-body">
  <div class="home-body__left">
    <h2>
      <time datetime="2018-11-10T19:00-05:00">
        Saturday, November 10, 2018<br />
        7 pm
      </time>
      <address>
        Westbury Manor<br />
        1100 Jericho Turnpike<br />
        Westbury NY, 11590<br />
      </address>
    </h2>
  </div>
  <div class="home-body__right">
    <div style="height: 400px; max-width: 400px; background-color: #D8D8D8; margin: auto;"></div>
  </div>
</div>
