<div class="home-hero-image">
  <div class="home-hero-image__headline">
    <h1 class="home-header">Melissa and Brian<br />Are Getting Married</h1>
    {{count-down to='2018-11-10T19:00-05:00'}}
  </div>
</div>

<div class="home-body">
  <div class="home-body__left">
    <div class="home-banner" style="background-image: url('/assets/images/collage.jpg');">
      <h3 class="home-message">We're so excited to celebrate with you</h3>
    </div>
  </div>

  <div class="home-body__right">
    <h2 class="home-details">
      <time datetime="2018-11-10T19:00-05:00">
        Saturday, November 10, 2018<br />
        7 pm
      </time>
      <address>
        Westbury Manor<br />
        1100 Jericho Turnpike<br />
        Westbury NY, 11590<br />
      </address>
    </h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.1479602001423!2d-73.61704764879286!3d40.758770342587894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c28798f8d03845%3A0x9fa5d5e108ccb4a9!2sWestbury+Manor!5e0!3m2!1sen!2sus!4v1507575149575" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
