<main class="registry-body">
  {{#if showRegistry}}
  <h1 class="registry-header">If You Insist</h1>
  
  <section class="registry-block">
    <ul class="registries">
      <li>
        <div style="width: 100%; height: 300px; background-color: #ccc;"></div>
      </li>
      <li>
        <div style="width: 100%; height: 300px; background-color: #ccc;"></div>
      </li>
      <li>
        <div style="width: 100%; height: 300px; background-color: #ccc;"></div>
      </li>
      <li>
        <div style="width: 100%; height: 300px; background-color: #ccc;"></div>
      </li>
    </ul>
  </section>
  {{else}}
  <h1 class="registry-header">Coming Soon</h1>
  {{/if}}
</main>
