{{set-body-class "schedule"}}

<div class="schedule-hero-image">
  <div class="schedule-hero-image__headline">
    <h1 class="schedule-header">Where to Be and<br />When to Be There</h1>
  </div>
</div>

<div class="schedule-body">
  <h2>Schedule</h2>

  <section class="schedule-block">
    <time datetime="2018-11-10" class="schedule-date">Saturday, November 10, 2018</time>

    <address class="schedule-item">
      Westbury Manor<br />
      1100 Jericho Turnpike<br />
      Westbury NY, 11590<br />
    </address>

    <p class="schedule-item">
      <time datetime="2018-11-10T19:00-05:00">7 pm</time> - <time datetime="2018-11-11T01:00-05:00">1 am</time><br />
      Ceremony &amp; Reception
    </p>

    <p class="schedule-item">
      <time datetime="2018-11-11T01:00-05:00">1 am</time> - <time datetime="2018-11-11T02:30-05:00">2:30 am</time><br />
      After party <br />
      Westbury Manor Polo Lounge
    </p>
  </section>

  <section class="schedule-block">
    <time datetime="2018-11-11" class="schedule-date">Sunday, November 11, 2018</time>

    <address class="schedule-item">
      Hyatt Place Garden City<br />
      5 North Avenue<br />
    Garden City, NY 11530<br />
    </address>
    <p class="schedule-item">
      <time datetime="2018-11-11T10:00-05:00">Anytime after 10 am</time><br />
      Bagel Brunch Banquet<br />
    </p>
  </section>
</div>
