{{set-body-class "where-to-stay"}}

<div class="where-hero-image">
  <div class="where-hero-image__headline">
    <h1 class="where-header">Where We'll Be<br />After the After Party</h1>
  </div>
</div>

<div class="where-body">
  <h2>Hyatt Place Garden City</h2>
  <address class="directions-item">
    5 North Avenue<br />
    Garden City, NY 11530<br />
    <a href="tel:15162226277">(516) 222-6277</a>
  </address>

  <p class="where-item">
    The rooms are all suites.
  </p>
  <p class="where-item">
    2 queen beds (plus a pull out!)
  </p>
  <p class="where-item">
    And we got you a deal: $175 per night if you use the code G-ESWH.
  </p>
  <p class="where-item where-push">
    Reserve by September 28, 2018 or miss out on the discount.
  </p>

  <a href="https://gardencity.place.hyatt.com/en/hotel/home.html?corp_id=g-eswh" target="_blank" rel="nofollow noopener" class="where-booknow">Book Now</a>

  <p class="call-where">Or you can book by phone: <a href="tel:18884928847">1-888-492-8847</a></p>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12091.735041432601!2d-73.61079494879316!3d40.74148304364637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c287806ba7132d%3A0xd02114a4c31df10f!2sHyatt+Place+Garden+City!5e0!3m2!1sen!2sus!4v1507681054127" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
